@import '../../scss/variables';
@import '../../scss/mixins';
.player_selection {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 0;
  grid-row-gap: 20px;
  background: $boxbg;
  color: $white;
  margin: 40px 0px 10px;
  @media (min-width: $tablet) {
    grid-template-columns: repeat(5, 1fr);
  }
  .submit {
    border: 2px solid black;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    grid-column: span 2 / -1;
    grid-template-columns: 1fr fit-content(200px);
    text-transform: uppercase;
    transition: 0.3s ease;
    background-color: $white;
    font-size: 16px;
    font-weight: bold;
    @media(min-width: $tablet) {
      padding: 20px;
      width: 175px;
      margin: 0 40px 0;
      grid-column: span 1;
      grid-template-columns: none;
      align-self: baseline;
    }
    &:hover {
      cursor: pointer;
      background-color: $black;
      color: white;
      transition: 0.3s ease;
      border: 2px solid $white;
    }
  }
  .team {
    input[type="checkbox"] {
      display: none;
    }
    label {
      padding: 10px;
      height: $checkbox-label-size;
      width: $checkbox-label-size;
      border: 2px solid $black;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      background-color: $white;
    }
    input[type="checkbox"]:checked+label {
      position: relative;
      &::after {
        opacity: 1;
        animation-delay: 100ms;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform-origin: bottom left;
        transform: rotateY(-360deg) rotateX(0deg) rotate(45deg); //transform: rotate(45deg);
        animation-fill-mode: forwards;
        content: "";
        height: $check-height;
        width: $check-width;
        border: solid $black;
        border-width: 0 5px 5px 0;
        position: absolute;
        margin-left: -13px;
        margin-top: -14px;
      }
    }
    .name {
      display: grid;
      letter-spacing: 1px;
    }
  }
}

.set_teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-transform: uppercase;
  .teamz {
    font-size: 18px;
  }
}