@import './variables.scss';
@import './mixins.scss';
html {
  background: $bg-color;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  body {
    margin: 0;
  }
  h1,
  h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 80px 20px;
    color: $white;
    text-shadow: 1px 1px 1px black;
    @media (min-width: $tablet) {
      padding: 40px 0;
    }
  }
  h1 {
    font-size: 50px;
    @media (min-width: $tablet) {
      font-size: $font_xxl;
    }
  }
  h2 {
    font-size: $font_medium;
    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }
  .hero {
    background: url('img/wolf.jpg');
    background-size: cover;
    background-position: 100%;
    height: 500px;
  }
  .wolf {
    width: 300px;
    max-width: 100%;
  }
}

.container {
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  &::before {
    @include grassBg;
  }
  @media (min-width: $tablet) {
    padding: 20px 60px;
  }
  h3 {
    font-size: $font_medium;
    padding: 48px 0 0;
    @media (min-width: $tablet) {
      font-size: 24px;
    }
  }
  .score {
    font-size: $font_large;
    padding: 40px 0;
  }
  .rules {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense;
    justify-items: center;
    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    @media (min-width: $desktop) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .rule {
      width: 100%;
      height: 150px;
      background-color: $boxbg;
      display: grid;
      place-items: center;
      transition: width 0.3s, height 0.3s;
      position: relative;
      color: $white;
      h4 {
        font-size: $font_medium;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      &.active {
        background-color: $black;
        border: 2px solid $white;
        box-shadow: 0 5px 14px 0 $boxbg; //box-shadow: 4px 4px 4px $boxbg;
        width: 80%;
        height: auto;
        padding: 10px;
        @media (min-width: $tablet) {
          width: 250px;
        }
        &>* {
          transform: translateX(0%);
        }
        .dots,
        p {
          display: block;
          transition: all 0.5s;
          width: 80%;
        }
        .dots {
          font-size: $font_medium;
          height: auto;
          padding: 10px;
          border: 1px solid gray;
          margin: 10px 0;
          background-color: $white;
          &:hover {
            cursor: pointer;
          }
        }
        p {
          font-size: $font_small;
        }
      }
      .dots,
      p {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

footer {
  padding: 40px;
  background: url($grain);
}

.hide {
  display: none;
}

.saddam {
  @include photoBackground(saddam,
  50% 50%);
}

.bugler {
  @include photoBackground(bugler,
  50% 0%);
}

.sandy {
  @include photoBackground(sand,
  50% 80%);
}

.hogan {
  @include photoBackground(benhogan,
  45% 10%);
}

.hammer {
  @include photoBackground(hammer,
  45% 10%);
}

.eagle {
  @include photoBackground(eagle,
  50% 20%);
}

.boomerang {
  @include photoBackground(boomerang,
  50% 20%);
}

.tree-whack {
  @include photoBackground(treewhack,
  30% 50%);
}

.rattler {
  @include photoBackground(rattler,
  30% 50%);
}

.wasabi {
  @include photoBackground(wasabi,
  30% 50%);
}
