@import './variables';
// @keyframes checkmark {
//   0% {
//     height: 8px;
//     width: 0;
//     opacity: 1;
//   }
//   20% {
//     height: 10px;
//     width: $check-width;
//     opacity: 1;
//   }
//   40% {
//     height: $check-height;
//     width: $check-width;
//     opacity: 1;
//   }
//   100% {
//     height: $check-height;
//     width: $check-width;
//     opacity: 1;
//   }
// }
@mixin selectStyling {
  /* styling */
  width: 210px;
  background-color: white;
  border: thin solid black;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* arrows */
  background-image: linear-gradient(45deg, transparent 50%, $white 50%), linear-gradient(135deg, $white 50%, transparent 50%), linear-gradient(to right, $boxbg, $boxbg);
  background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), 100% 0;
  background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

@mixin selectDropDownActive {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, $boxbg, $boxbg);
  background-position: calc(100% - 10px) calc(1em + 0px), calc(100% - 20px) calc(1em + 0px), 100% 0;
  background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}